PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=niangramatoulaye4@gmail.com
SMTP_PASS=uldpgvilognmtjyl
SMTP_FROM=niangramatoulaye4@gmail.com
TO_EMAIL=niangramatoulaye4@gmail.com
